#summary_container {
    display: flex;
    flex-direction: column;
}

#summary_container img {
    width: 69px;
    height: 69px;
}

#summary_content {
    display: flex;
    justify-content: space-between;
}

#first_container {
    display: flex;
    gap: 30px;
    align-items: center;
}

#join_155 {
    font-size: 40px;
    font-weight: bold;
}

#vertical_div {
    width: 3px;
    height: 45px;
    background-color: #29ABE2;
}

#KMaaG {
    font-size: 24px;
}

/* #cube {} */
#second_container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    gap: 60px;
}

#todo_div {
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    justify-content: space-evenly;
    transition: transform 0.4s;
}

#todo_div:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

#done_div {
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    gap: 18px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    justify-content: space-evenly;
    transition: transform 0.4s;
}

#done_div:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

#todo_text {
    display: flex;
    flex-direction: column;
}

#done_text {
    display: flex;
    flex-direction: column;
}

#urgent_text {
    display: flex;
    flex-direction: column;
}

#todo {
    font-size: 64px;
    font-weight: 600;
}

#todo_second {
    font-size: 16px;
    font-weight: 400;
}

#done {
    font-size: 64px;
    font-weight: 600;
}

#done_second {
    font-size: 16px;
    font-weight: 400;
}

#urgent {
    font-size: 64px;
    font-weight: 600;
}

#urgent_second {
    font-size: 16px;
    font-weight: 400;
}

#third_container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

#third_under_container {
    display: flex;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
    color: black;
    text-decoration: none;
    transition: transform 0.4s;
}

#third_under_container:hover {
    background-color: #2A3647;
    color: white;
    transform: scale(1.05);
}

#urgent_div {
    height: 150px;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

#date_div {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 20px;

}

#vertical_div_two {
    width: 3px;
    height: 120px;
    background-color: grey;
}

#date_text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#date {
    font-size: 21px;
    font-weight: 700;
}

#upcoming_deadline {
    font-size: 16px;
    font-weight: 400;
}

#greet_position {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#greet {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#greet_info {
    font-size: 47px;
    font-weight: 500;
}

#greet_name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

#fourth_container {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.fourth_under_container {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;
    transition: transform 0.4s;
}

.fourth_under_container:hover {
    transform: scale(1.05);
}

#number_in_board {
    font-size: 64px;
    font-weight: 600;
}

#number_in_progress {
    font-size: 64px;
    font-weight: 600;
}

#number_awaiting_feedback {
    font-size: 64px;
    font-weight: 600;
}

#in_board {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
}

#in_progress {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
}

#in_awaiting_feedback {
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    font-weight: 400;
}


#board {
    cursor: pointer;
}

#board:hover {
    background-color: #2A3647;
    color: white;
}

#progress {
    cursor: pointer;

}

#progress:hover {
    background-color: #2A3647;
    color: white;
}

#awaiting {
    cursor: pointer;
}

#awaiting:hover {
    background-color: #2A3647;
    color: white;
}

.icon_normal {
    display: block;
}

.icon_other {
    display: none;
}

.second_container_class {
    padding: 5px;
}

.second_container_class:hover .icon_normal {
    display: none;
}

.second_container_class:hover .icon_other {
    display: block;
}

/*  */


/*  */
@keyframes mobile {
    to {
        opacity: 0;
        display: none;
    }
}

@media only screen and (max-width: 1550px) {

    #greet_position {
        display: none;
    }
}

@media only screen and (max-width: 1301px) {

    #greet_position {
        display: flex;
    }
}

@media only screen and (max-width: 1300px) {
    #greet {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 75%;
        background-color: white;
        animation: mobile 3s forwards;
        animation-delay: 3s;
        animation-iteration-count: 1;

    }

    #greet_info {
        font-size: 40px;
    }

    #greet_name {
        font-size: 40px;
    }

    #summary_content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 180px;
    }

    .fourth_under_container {
        padding: 5px;
    }

    #urgent_div {
        height: 120px;
    }
}

@media only screen and (max-width: 950px) {
    #summary_container img {
        width: 50px;
        height: 50px;
    }

    #todo_div {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        gap: 18px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        color: black;
        text-decoration: none;
        justify-content: space-evenly;
        transition: transform 0.4s;
    }

    #todo {
        font-size: 50px;
    }

    #done_div {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        gap: 18px;
        background-color: white;
        border-radius: 20px;
        cursor: pointer;
        color: black;
        text-decoration: none;
        justify-content: space-evenly;
        transition: transform 0.4s;
    }

    #done {
        font-size: 50px;
    }

    #urgent_div {
        padding: 0;
    }

    #date_div {
        padding: 0;
    }

    .fourth_under_container {
        padding: 5px;
    }
}

@media only screen and (max-width: 750px) {

    #div_body {
        overflow-x: hidden;
    }

    #KMaaG {
        font-size: 16px;
    }

    #vertical_div_two {
        height: 80px;
    }

    #urgent_div {
        height: 100px;
    }

    #done_div {
        height: 100px;
    }

    #todo_div {
        height: 100px;
    }

    #fourth_container {
        gap: 10px;
    }

    .fourth_under_container {
        height: 100px;
        gap: 0;
    }
}

@media only screen and (max-width: 650px) {
    #third_under_container {
        gap: 10px;
    }

    #fourth_container {
        gap: 8px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        align-content: space-between;
    }

    #div_body {
        overflow-x: hidden;
    }

    #KMaaG {
        font-size: 16px;
    }

    #vertical_div_two {
        height: 90px;
    }

    #urgent_div {
        height: 90px;
        width: 200px;
    }

    #done_div {
        height: 90px;
        width: 120px;
    }

    #todo_div {
        height: 90px;
        width: 120px;
    }

    .fourth_under_container {
        height: 90px;
        width: 120px;
    }

    #summary_container img {
        width: 35px;
        height: 35px;
    }

    #todo {
        font-size: 30px;
    }

    #done {
        font-size: 30px;
    }

    #urgent {
        font-size: 30px;
    }

    #number_in_board {
        font-size: 30px;
    }

    #number_in_progress {
        font-size: 30px;
    }

    #number_awaiting_feedback {
        font-size: 30px;
    }

    #vertical_div_two {
        height: 60px;
    }
}

@media only screen and (max-width: 550px) {
    #done_div {
        height: 90px;
        width: 110px;
    }

    #todo_div {
        height: 90px;
        width: 110px;
    }

    .fourth_under_container {
        height: 90px;
        width: 110px;
    }

    #join_155 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    #done_div {
        height: 90px;
        width: 100px;
    }

    #todo_div {
        height: 90px;
        width: 100px;
    }

    .fourth_under_container {
        height: 90px;
        width: 100px;
    }
}

@media (min-width: 320px) and (max-width: 499px) {
    #done_div {
        height: 80px;
        width: 130px;
    }
    #date_div {
        width: 55%;
    }

    #date {
        font-size: 16px;
    }

    #todo_div {
        height: 80px;
        width: 130px;
    }

    #urgent_div {
        width: 40%;
        gap: 23px;
    }

    .fourth_under_container {
        height: 80px;
        width: 80px;
    }

    #todo {
        font-size: 16px;
    }

    #done {
        font-size: 16px;
    }

    #urgent {
        font-size: 16px;
    }

    #number_in_board {
        font-size: 16px;
    }

    #number_in_progress {
        font-size: 16px;
    }

    #number_awaiting_feedback {
        font-size: 16px;
    }

    #vertical_div_two {
        height: 40px;
    }

    #vertical_div {
        height: 30px;
    }

    #first_container {
        gap: 10px;
    }

    #join_155 {
        font-size: 16px;
    }

    #second_container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        gap: 0;
    }

    #content {
        padding: 20px;
    }

    #third_under_container {
        gap: 0;
        justify-content: space-between;
    }
}