@media(max-width: 1368px) {
    
}


@media(max-width: 1132px) {
    body {
        overflow: hidden;
    }
    
    #header_content_position {
        min-width: 428px;
        max-height: 926px;
    }

    .innerContent {
        flex-direction: column;
        gap: 32px;
    }

    .roomdivider {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px !important;
    }

    .innerContent,
    .leftside,
    .container-title,
    .input-title-text,
    .input-field,
    .container-description,
    .input-title-text,
    .container-assigned,
    .contactPosition,
    .dropdown {
        width: 100% !important;
    }

    .input-field-description {
        width: calc(100% - 21px) !important;
    }

    .H1 {
        margin-left: 16px !important;
    }
}