body {
    position: relative;
    min-height: 1024px;
    max-width: 1440px;
}

.contactsDropdown::-webkit-scrollbar {
    width: 8px;
}

.contactsDropdown::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 8px;
}

.contactsDropdown::-webkit-scrollbar-thumb {
    background-color: #A8A8A8;
    border-radius: 8px;
}

.contactsDropdown::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
}

.contactsDropdown::-webkit-scrollbar-button {
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 16px;
    width: 1em;
}

.contactsDropdown::-webkit-scrollbar-button:end:increment {
    background-image: url(img/scroll-arrow-down.svg);
}
 

.contactsDropdown::-webkit-scrollbar-button:start:decrement {
   background-image: url(img/scroll-arrow-up.svg)
}




.H1 {
    margin-top:  206px;
    padding-bottom: 0px;
    margin-left: 96px;
    font-size: 61px;
}

#content {
    position: relative;
    top: 0px;
    scrollbar-width: none;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 40px;
    padding: 0;
}

.innerContent {
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    top: 0px
}

.leftside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
    height: 376px;
}

.rightside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 440px;
    height: 416px;
}

.redStar {
    color: #FF8190;
}

.container-title {
    width: 440px;
    height: 96px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-description {
    width: 440px;
    height: 168px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-assigned {
    width: 440px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.availableCategory {
    height: fit-content;
    width: 440px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    border: 4px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.contactsDropdown {
    height: 180px;
    width: 440px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 1;
    border: 4px;
    box-shadow: 0px 0px 14px 3px #0000000A;
}

.availableContacts {
    height: 180px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 4px;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.roomdivider {
    width: 1px;
    height: 400px;
    background-color: rgb(209, 209, 209);
}

.priobtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 136px;
    height: 56px;
    border-radius: 10px;
    gap: 8px;
    margin-right: 4px;
    font-size: 20px;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.priobtn:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.priobtnClicked {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 120px;
    height: 48px;
    border-radius: 10px;
    gap: 8px;
    border: solid 1px rgb(209, 209, 209);
}

.priobtns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;
    width: 440px;
    gap: 16px;
}

.priobtns img:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 20px 8px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 10px 13px -7px #000000, 0px 20px 8px 1px rgba(0, 0, 0, 0.08);
}

.urgentClicked {
    background-color: rgb(255, 61, 0);
}

.mediumClicked {
    background-color: rgb(255, 168, 0);
}

.lowClicked {
    background-color: rgb(122, 226, 41);
}

.contactBTN {
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4px;
    margin-top: 4px;
    border-radius: 10px;
}

.contactBTN:hover {
    background-color: #EEEEEE;
}

.contact-btn-color {
    color: white;
}

.contact-btn-color:hover {
    background-color: #091931 !important;
    color: white;
}

.contact-btn-color-hover:hover {
    background-color: #EEEEEE !important;
}

.contact_initials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    border: solid 2px white;
    color: white;
    font-size: 12px;
}

.initialsAndContacts {
    display: flex;
    align-items: center;
    gap: 16px;
}

.chosenInitals {
    display: flex;
    flex-direction: row;
    height: 30px;
    max-width: 400px;
}

.choseCategory {
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    height: 48px;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-size: 20px;
}

.choseCategory:hover {
    background-color: #EEEEEE;
}

.subtaskInputParent {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
}

.subtaskInput {
    width: 375px;
    border: 0;

}

.subtaskInput:focus {
    outline: 0px solid #29ABE2;
    border: 0;
}

.subtaskInputParent:focus-within {
    outline: 1px solid #29ABE2;

}

#date {
    width: calc(440px - 12px - 16px);
}

#date::placeholder {
    color: rgb(139, 139, 139);
}

.subtaskEdit {
    display: flex;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;

}

.subtaskEdit:focus-within {
    outline: 1px solid #29ABE2;
}

#subtaskEdit {
    border: none;
    width: 350px;
}

#subtaskEdit:focus-within {
    outline: 0;
}

.divider {
    width: 1px;
    background-color: rgb(209, 209, 209);
    margin-left: 3px;
    margin-right: 3px;
}

.subtaskHoverIcon {
    display: flex;
    flex-direction: row;

}

.editableSubtask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    align-content: center;

}

.subtask {
    display: flex;
    flex-direction: row;
}

.editableSubtask img {
    cursor: pointer;
    margin-right: 3px;
    opacity: 0;
}

.subtaskHover {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    border-radius: 4px;
}

.subtaskHover:hover img {
    opacity: 1;
}

.subtask:hover {
    background-color: rgb(209, 209, 209);

}

.subtask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
}

.noDisplay {
    display: none !important;
}

.createBTN {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: rgb(42, 54, 71);
    width: 150px;
    height: 50px;
    border-radius: 8px;
}

.createBTN:hover {
    background-color: rgb(41, 171, 226);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}






.dropbtn {
    display: flex;
    justify-content: space-between;
    height: 24px;
    width: 400px;
    background-color: white;
    color: black;
    cursor: pointer;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 4px;
}


.input-field {
    width: 440px;
    height: 48px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    text-indent: 21px;
    outline: 1px solid #D1D1D1;
    background-color: white;
}

.input-field:focus {
    outline: 1px solid #29ABE2;
    border: 1px solid #29ABE2;
}

.input-field-date {
    text-indent: 0 !important;
    padding-left: 16px;
    padding-right: 16px;
}

.input-field-danger {
    outline: 1px solid #FF8190;
}

.input-field-description {
    width: calc(440px - 21px);
    height: calc(120px - 18px);
    text-indent: 0;
    padding-left: 21px;
    padding-top: 18px;
    resize: vertical;
}

.input-field-button {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-indent: 0;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.input-field-date {
    padding-right: 12px;
    text-indent: 12px;
}

.input-title-text {
    font-size: 20px;
}

.input-field-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-indent: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.input-field-subtask input {
    height: 48px;
    font-size: 20px;
}

.danger-text {
    color: #FF8190;
    font-size: 12px;
}

.createBTN  {
    position: fixed;
    display: flex;
    justify-content:  space-evenly;
    align-items: center;
    color: white;
    background-color:  rgb(42,  54,  71);
    width: 150px;
    height: 50px;
    border-radius: 8px;
    margin-top: 50px;
    right: 100px;
    cursor: pointer;
    border: 0;
}

.createBTN:hover {
    background-color: rgb(41, 171, 226);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.createBTN:disabled{
    background-color: rgb(134, 134, 134);
}
#alarmBTN{
    background-color: rgb(42, 54, 71);
    opacity: 0.8;

}

.clearBTN {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 46px;
    width: 100px;
    border: 2px solid rgb(42, 54, 71);
    border-radius: 8px;
    color: rgb(42, 54, 71);
}

.clearBTN:hover {
    border: 2px solid rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-input-date {
    width: 440px;
    height: 96px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-input-prio {
    width: 440px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-input-category {
    width: 440px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-input-subtask {
    width: 440px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contianer-clear-create {
    display: flex;
    gap: 50px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 96px;
    margin-right: 96px;
    margin-top: 150px;
}