@media(max-width: 1368px) {
    #header {
        position: unset;
        padding-top: 0;
        padding-bottom: 0;
        height: 80px;
    }

    .H1 {
        margin-top: 110px !important;
    }
}


@media(max-width: 1132px) {
    body {
        min-height: 926px !important;
    }

    #jura_container {
        top: 64px !important;
        right: 8px !important;
        height: 204px !important;
        z-index: 999;
        position: absolute;
    }

    .jura_undercontainer {
        height: 33px !important;
    }

    #div_body {
        overflow: hidden;
        position: unset;
    }

    .clearBTN {
        display: none !important;
    }

    .createBTN {
        width: 183px !important;
        height: 56px !important;
        font-size: 21px;
    }

    .bottom {
        align-items: center !important;
        margin-left: 16px !important;
        margin-right: 16px !important;
        margin-top: 60px !important;
    }

    .innerContent {
        flex-direction: column;
        gap: 32px;
    }

    .roomdivider {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 16px !important;
        overflow-y: scroll;
        height: 436px;
    }

    .innerContent,
    .leftside,
    .container-title,
    .input-title-text,
    .input-field,
    .container-description,
    .container-assigned,
    .contactPosition,
    .dropdown,
    .rightside,
    .container-input-date,
    .input-field-date,
    .container-input-prio,
    .priobtns,
    .container-input-category,
    .container-input-subtask,
    .input-field-subtask {
        width: 100% !important;
    }

    .input-field-date {
        width: calc(100% - 28px) !important;
    }

    .input-field-subtask {
        padding-left: 16px;
        padding-right: 16px;
        width: calc(100% - 32px) !important;
        justify-content: space-between !important;
    }

    .input-field-description {
        width: calc(100% - 21px) !important;
    }

    .H1 {
        margin-left: 16px !important;
        margin-top: 48px !important;
        height: 112px !important;
        margin-bottom: 12px !important;
    }

    #header_content_position {
        min-width: 428px;
        /* max-height: 926px; */
    }
}