@media (max-width: 1120px) {
    body {
        min-height: calc(926px - 37px);
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        margin-top: 205px;
    }

    h1 {
        font-size: 47px;
    }

    h1::before {
        margin-left: -44px;
        width: 88px;
    }

    .nav-sign-up {
        margin-right: 0;
    }

    .login {
        width: 396px;
        height: 515px;

        position: unset;
        margin-left: 0;
        margin-top: 0;
    }

    .input-field {
        width: 364px;
    }

    .login-inputs {
        height: 192px;
    }

    .login-remember-me {
        width: 364px;
        margin-left: 16px;
    }

    .login-buttons {
        width: 180px;
        height: 123px;
        gap: 21px;
        flex-direction: column;
    }

    .login-buttons button,
    .login-buttons a {
        width: 100%;
        font-size: 16px;
    }

    .nav-sign-up p {
        font-size: 20px;
        white-space: nowrap;
    }

    .nav-sign-up a {
        font-size: 16px;
    }

    .nav {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        animation: nav 800ms forwards 500ms;
    }

    .img-logo {
        width: 64px;
        height: 78px;
        margin-left: 38px;
        margin-top: 37px;
    }

    .img-logo-animation {
        width: 100px;
        height: 122px;
        content: url(img/join_logo_white.png);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -61px;
        z-index: 1000;

        animation: logo-animation 800ms forwards 500ms;
    }

    .img-logo-animation-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #2A3647;
        z-index: 900;

        animation: logo-animation-bg 800ms forwards 500ms;
    }

    @keyframes nav {
        from {
            z-index: 999;
        }

        to {
            z-index: -1;
        }
    }

    @keyframes logo-animation {
        0% {
            width: 100px;
            height: 122px;
            content: url(img/join_logo_white.png);
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -61px;
            z-index: 999;
            opacity: 100%;
        }

        50% {
            opacity: 0;
        }

        100% {
            position: absolute;

            width: 64px;
            height: 78px;
            top: 37px;
            left: 38px;
            margin: 0;
            content: url(img/join_logo_black.png);
            opacity: 100%;
        }
    }

    @keyframes logo-animation-bg {
        from {
            background-color: #2A3647;
        }

        to {
            background-color: unset;
            display: none;
        }
    }

    .footer {
        margin-bottom: 16px;
    }
}

@media(min-height: 820px) {
    body {
        height: 100vh;
    }
}