@font-face {
    font-family: Inter;
    src: url(font/Inter.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: #F6F7F8;
}

#div_body {
    position: absolute;
    display: flex;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#header {
    height: 96px;
    padding: 20px 40px 20px 150px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    position: fixed;
    left: 232px;
    right: 0;
    z-index: 999;
}

#nav_left {
    color: black;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

#nav_right {
    display: flex;
    gap: 16px;
}

#nav_right a {
    text-decoration: none;
    color: #29ABE2;
}

#nav_right_img {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nav_right_img:hover {
    transform: scale(1.3);
}

#nav_right_menu {
    border-radius: 50%;
    border: solid 2px black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29ABE2;
    cursor: pointer;
}

#nav_right_menu:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#header_content_position {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 232px;
}

#required {
    color: red;
    font-size: 30px;
}

#side {
    width: 232px;
    padding: 64px 0px 64px 0px;
    gap: 0px;
    background-color: #2A3647;
    color: #CDCDCD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
}

#content {
    padding: 50px;
    padding-bottom: 0;
    position: relative;
    top: 140px;
    scrollbar-width: none;
}

#join_logo_white {
    width: 100.03px;
    height: 121.97px;
    top: 64px;
    left: 65.98px;
}

#footer {
    padding: 243px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

#footer a {
    text-decoration: none;
    color: #CDCDCD;
}

#side_menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    width: inherit;
}

#side_menu:hover {
    color: #29ABE2;
}

#side_menu a {
    text-decoration: none;
    color: #CDCDCD;
}

.side_undermenu {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 80%;
}

.side_menu_text_position {
    display: flex;
    justify-content: flex-start;
}

#dlph_position {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 60px;
}

.side_menu_bg {
    height: 40px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.side_menu_bg:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#jura_container {
    width: 150px;
    height: 158px;
    position: fixed;
    top: 137px;
    right: 30px;
    padding: 10px 0px 0px 0px;
    border-radius: 20px 0px 20px 20px;
    background-color: #2A3647;
    color: #CDCDCD;
    font-size: 16px;
    font-weight: 400;
    display: none;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

.jura_undercontainer {
    text-decoration: none;
    padding: 6px;
    background-color: #2A3647;
    color: #CDCDCD;
}

.jura_undercontainer:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
}

/* ENDE kleine Fenster oben rechts, wo man sich ausloggen kann usw..*/

.menu_iconsWH {}

.side_menu_bg.selected {
    background-color: #091931;
    color: white;
}

.side_undermenu.selected {
    height: 40px;
    display: flex;
}

.side_menu_bg img {
    width: 30px;
    height: 30px;
}

/* summary */
.side_undermenu.selected .summary_icon_normal {
    display: none;
}

.side_undermenu.selected .summary_icon_other {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .summary_icon_normal {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .summary_icon_other {
    display: none;
}

/* addtask */
.side_undermenu.selected .addtask_icon_normal {
    display: none;
}

.side_undermenu.selected .addtask_icon_other {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .addtask_icon_normal {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .addtask_icon_other {
    display: none;
}

/* board */
.side_undermenu.selected .board_icon_normal {
    display: none;
}

.side_undermenu.selected .board_icon_other {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .board_icon_normal {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .board_icon_other {
    display: none;
}

/* contacts */
.side_undermenu.selected .contacts_icon_normal {
    display: none;
}

.side_undermenu.selected .contacts_icon_other {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .contacts_icon_normal {
    display: flex;
    margin-right: 20px;
}

.side_undermenu .contacts_icon_other {
    display: none;
}

.back_container {
    display: block;
    width: 37px;
    height: 37px;
    position: fixed;
    top: 188px;
    right: 40px;
    padding: 0;
    cursor: pointer;
}

.back_container:hover {
    background-color: rgba(0, 0, 0, 0.1);
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.back {
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.headline_title {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 61px;
}

@media only screen and (max-width: 5555px) {

    #header_logo {
        display: none;
    }

    #help_link {
        display: none;
    }
}

@media only screen and (max-width: 1368px) {
    #help_link {
        display: flex;
    }

    #jura_container {
        height: 197px;
    }
    .side_menu_bg.selected {        
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }

    #header_logo {
        display: block;
        width: 32px;
        height: 39px;
    }

    #nav_left {
        display: none;
    }

    #nav_right_img {
        display: none;
    }

    #side {
        width: 100%;
        position: fixed;
        top: auto;
        right: 0;
        left: 0;
        z-index: 2;
        padding: 0;
    }

    #side_menu {
        display: flex;
        width: 100%;
        height: 110px;
        justify-content: space-between;
        align-content: center;
    }

    .side_undermenu {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .side_undermenu .addtask_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .summary_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .board_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .contacts_icon_normal {
        margin-right: 0;
    }

    .side_menu_bg {
       /*  height: inherit;
        cursor: pointer;
        width: 25%;
        display: flex; */
        width: 100px;
        height: 100px;
        border-radius: 20px;
    }   

    .side_logo {
        display: none;
    }

    #header {
        z-index: 2;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;
    }

    #footer {
        display: none;
    }

    #content {
        position: relative;
        top: 140px;
        scrollbar-width: none;
    }

    #join_logo_white {
        display: none;
    }

    #header_content_position {
        padding-left: 0;
    }
}


@media only screen and (max-width: 950px) {}

@media only screen and (max-width: 750px) {

    #div_body {
        overflow-x: hidden;
    }
    .headline_title {
        font-size: 30px;
    }    

    #KMaaG {
        font-size: 16px;
    }

}

@media only screen and (max-width: 650px) {

    #div_body {
        overflow-x: hidden;
    }

    .headline_title {
        font-size: 20px;
    }

    #KMaaG {
        font-size: 16px;
    }


}

@media only screen and (max-width: 550px) {
    .headline_title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {}

@media (min-width: 320px) and (max-width: 399px) {
    .headline_title {
        font-size: 16px;
    }
    .side_menu_bg {        
        width: 25%;
    }
    .side_menu_bg.selected {        
        width: 25%;
    }

}
