#dialog-message {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 999;
}

#dialog-message div {
    width: 312px;
    height: 74px;
    background-color: #2A3647;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px #00000026;
    font-size: 20px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    bottom: 0;
    margin-left: -156px;
    z-index: 999;

    animation: dialog-message 200ms forwards;
}

.container {
    flex-direction: column;
}

@keyframes dialog-message {
    from {
        bottom: 0;
    }

    to {
        bottom: 50%;
        margin-top: -37px;
    }
}

.link-policy {
    text-decoration: none;
    color: #29ABE2;
    font-size: 16px;
}

.link-policy:hover {
    text-decoration: underline;
}

.img-logo {
    margin-top: 80px;
}

.button-back {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 64px;
    left: 48px;
    cursor: pointer;
}

.button-back:hover {
    content: url(../img/arrow-left-line-hover.png);
}

.sign-up {
    width: 598px;
    height: 630px;

    position: relative;

    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px #0000000A;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

main {
    display: flex;
    justify-content: center;
}

.sign-up-inputs {
    width: 422px;
    height: 326px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.accept-policy {
    width: 100%;
    height: 48px;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}

.accept-policy input[type=checkbox] {
    appearance: none;
    background-image: url(../img/checkbox_uncheck.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.accept-policy input[type=checkbox]:hover {
    background-image: url(../img/checkbox_hover_uncheck.png);
}

.accept-policy input[type='checkbox']:checked {
    appearance: none;
    background-image: url(../img/checkbox_check.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.accept-policy input[type='checkbox']:checked:hover {
    background-image: url(../img/checkbox_hover_check.png);
}

.footer {
    position: unset;
    bottom: unset;
    margin-top: 20px;
}