@media only screen and (max-width: 922px) {
    header {
        flex-direction: column;
        height: 154px;
        padding-top: 34px;
    }

    .h1AndButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
    }

    .inputAndButton {
        display: flex;
        justify-content: center;
        width: -webkit-fill-available;
        margin-bottom: 26px;
    }

    .mobileAddButton {
        display: flex;
    }

    #addButton {
        display: none;
    }

    #sections {
        flex-direction: column;
    }

    #toDoHeader,
    #inProgressHeader,
    #awaitFeedbackHeader,
    #doneHeader {
        position: static;
    }

    .content {
        margin-top: 0;
        flex-direction: row;
    }
}