@media only screen and (max-width: 1446px) {
    #sections {
        margin-bottom: 150px;
    }

    #help_link {
        display: flex;
    }

    #jura_container {
        height: 197px;
    }

    #header_logo {
        display: block;
        width: 32px;
        height: 39px;
    }

    #nav_left {
        display: none;
    }

    #nav_right_img {
        display: none;
    }

    #side {
        width: 100%;
        position: fixed;
        top: auto;
        right: 0;
        left: 0;
        z-index: 2;
        padding: 0;
    }

    #side_menu {
        display: flex;
        width: 100%;
        height: 110px;
        justify-content: space-between;
        align-content: center;
    }

    .side_undermenu {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .side_undermenu .addtask_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .summary_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .board_icon_normal {
        margin-right: 0;
    }

    .side_undermenu .contacts_icon_normal {
        margin-right: 0;
    }

    .side_menu_bg {
        height: inherit;
        cursor: pointer;
        width: 25%;
        display: flex;
    }

    .side_logo {
        display: none;
    }

    #header {
        z-index: 2;
        left: 0;
        display: flex;
        justify-content: space-between;
        padding: 20px 40px 20px 40px;
    }

    #footer {
        display: none;
    }

    #content {
        position: relative;
        top: 140px;
        scrollbar-width: none;
    }

    #join_logo_white {
        display: none;
    }

    #header_content_position {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1214px) {
    header {
        height: 250px;
        padding-inline: 40px;
    }

    h1 {
        font-size: 54px;
    }

    #input {
        height: 26px;
        font-size: 18px;
    }

    ::-webkit-input-placeholder {
        font-size: 18px;
    }

    #addButton {
        width: 156px;
        height: 44px;
        font-size: 19px;
    }

    #addImage {
        width: 26px;
    }

    #sections {
        padding-inline: 40px;
        margin-top: 24px;
    }

    .emptySection {
        width: 216px;
        font-size: 14px;
    }

    #toDoSection,
    #inProgressSection,
    #awaitFeedbackSection,
    #doneSection {
        width: 219px;
    }

    .content {
        width: 218px;
    }

    #toDoHeader,
    #inProgressHeader,
    #awaitFeedbackHeader,
    #doneHeader {
        width: 218px;
    }

    p {
        font-weight: 700;
        font-size: 18px;
    }

    .category {
        margin-bottom: 18px;
        font-size: 14px;
    }

    .titleAndDescription {
        margin-bottom: 18px;
    }

    .title {
        font-size: 14px;
    }

    .description {
        font-size: 14px;
    }

    .progressbar {
        width: 112px;
        height: 6px;
    }

    .subtask {
        font-size: 10px;
    }

    .cardBottom {
        margin-top: -6px;
    }

    .initials {
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .prioImage {
        width: 16px;
    }
}

@media only screen and (max-width: 1034px) {
    header {
        height: 220px;
    }

    h1 {
        font-size: 47px;
    }

    #input {
        height: 24px;
        font-size: 16px;
    }

    ::-webkit-input-placeholder {
        font-size: 16px;
    }

    #addButton {
        width: 146px;
        height: 42px;
        font-size: 17px;
    }

    #addImage {
        width: 24px;
    }

    #sections {
        margin-top: -6px;
    }

    .emptySection {
        width: 203px;
        font-size: 12px;
    }

    #toDoSection,
    #inProgressSection,
    #awaitFeedbackSection,
    #doneSection {
        width: 191px;
    }

    .content {
        width: 190px;
    }

    #toDoHeader,
    #inProgressHeader,
    #awaitFeedbackHeader,
    #doneHeader {
        width: 190px;
    }

    p {
        font-size: 16px;
    }

    .category {
        margin-bottom: 16px;
        font-size: 12px;
        height: 23px;
        padding-inline: 12px;
    }

    .titleAndDescription {
        margin-bottom: 16px;
    }

    .title {
        font-size: 12px;
    }

    .description {
        font-size: 12px;
    }

    .progressbar {
        width: 96px;
        height: 6px;
    }

    .subtask {
        font-size: 8px;
    }

    .cardBottom {
        margin-top: -8px;
    }

    .initials {
        width: 26px;
        height: 26px;
        font-size: 8px;
    }

    .prioImage {
        width: 14px;
    }
}

@media only screen and (max-height: 950px) {
    #cardPopup {
        height: 75%;
    }
}