body {
    font-family: inter; /* download and implement */
    cursor: default;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

h1 {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 61px;
    color: #000000;
}

form {
    display: flex;
    gap: 32px;
}

input {
    position: relative;
    background: url(./img/spacer_search.png) no-repeat;
    background-position: 286px;
    width: 312px;
    padding: 8px;
    padding-inline: 16px;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    font-size: 20px;
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 20px;
}

#searchButton { /* hover = display: flex; missing */
    position: absolute;
    margin-top: 8px;
    margin-left: 304px;
    background-color: rgba(255, 255, 255, 0);
    width: 32px;
    height: 32px;
    border-radius: 90px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #00000010;
}

#addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 48px;
    gap: 4px;
    border-radius: 10px;
    border: 0;
    background-color: #2A3647;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 21px;
    transition: 0.1s;
}

#addButton:hover {
    cursor: pointer;
    background-color: #28ABE2;
    box-shadow: 0 6px 4px -2px rgba(0, 0, 0, 0.3);
}

#sections {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}

#toDoSection, #inProgressSection, #awaitFeedbackSection, #doneSection {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#toDoHeader, #inProgressHeader, #awaitFeedbackHeader, #doneHeader {
    display: flex;
    justify-content: space-between;
    width: 244px;
}

p {
    font-weight: 700;
    font-size: 20px;
}

#addToDo, #addInProgress, #addAwaitFeedback { /* if hover change color missing */
    width: 25px;
    height: 25px;
    background: url(./img/plusbutton.png) no-repeat;
    background-color: #00000000;
    border: 0;
    cursor: pointer;
}



#addToDo:hover, #addInProgress:hover, #addAwaitFeedback:hover {
    background: url(./img/plusbuttonblue.png) no-repeat;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 244px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 16px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 27px;
    margin-bottom: 24px;
    border-radius: 8px;
    padding-inline: 16px;
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.titleAndDescription {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.title {
    font-weight: 700;
    font-size: 16px;
    color: #2A3647;
}

.description {
    font-weight: 400;
    font-size: 16px;
    color: #A8A8A8;
}

.cardBottom {
    display: flex;
    justify-content: space-between;
}

.emptySection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
    background-color: #E7E7E7;
    color: #A8A8A8;
    font-weight: 400;
    font-size: 16px;
}

.progressbarAndSubtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressbar {
    display: flex;
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background-color: rgba(244, 244, 244, 1);
}

.progress {
    width: 50%;
    height: 8px;
    border-radius: 16px;
    background-color: rgba(69, 137, 255, 1);
}

.subtask {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
}